<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= ENV["MOMENTS_NAME"] || "Moments" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/custom.css" type="text/css" />

  </head>

  <body>
    <p id="snowman"><%= ENV["MOMENTS_EMOJI"] %></p>
    <div class="container">
      <h1><a href="/"><%= ENV["MOMENTS_NAME"] || "Moments" %></a></h1>
      <%= yield %>
    </div>
    <footer>Made with <a href="https://github.com/ys/moments">Moments</a></footer>
  </body>

</html>
