<div class="row post text">
  <%= text %>
</div>
<% pictures.each do |picture| %>
  <div class="row picture">
    <img class="col-md-8  col-md-offset-2 col-xs-12 col-sm-12" src="/t<%= picture["path"] %>"/>
  </div>
<% end %>
