<%
meta og: {
      image: "#{ENV["APP_URL"]}/t/#{URI.escape(moment.path)}/_cover.jpg"
    },
    twitter: {
      card: "summary_large_image",
      site: "@#{ENV["TWITTER_HANDLE"]}",
      title: moment.title,
      description: moment.text,
      image: "#{ENV["APP_URL"]}/t/#{URI.escape(moment.path)}/_cover.jpg"
    }
%>
<div class="row post text">
  <h2><%= moment.title %></h2>
  <%= moment.text %>
</div>
<% moment.pictures.each do |picture| %>
  <div class="row picture">
    <img class="col-md-8  col-md-offset-2 col-xs-12 col-sm-12" src="/t<%= picture.path %>"/>
  </div>
<% end %>
