body {
  margin:0; padding:0;
  font: 18px 'Merriweather', serif;
  border-top: 3px solid #79589F;
}
#snowman {
  font-size: 5em;
  text-align: center;
  color: #79589F;
  margin-bottom:0;
}
h1 {
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  color: #666;
  margin-bottom: 40px;
}

h1 a:visited, h1 a:hover, h1 a {
  color: #666;
}

p {
  font-size: 1.5em;
  text-align: center;
}
a {
  color: black;
}
a:hover, a:visited {
  color: #79589F;
}
.cover {
  display: block;
  height: 368px;
}
.cover-title, .cover-title:visited {
  display: block;
  text-align:center;
  color: #666;
}
.picture {
  margin-bottom: 10px;
}
