html {
  font-size: 16px;
}
body {
  margin:0; padding:0;
  font: 22px 'Source Sans Pro', Arial, sans-serif;
  border-top: 3px solid #79589F;
}
#snowman {
  margin: 0;
  font-size: 2rem;
  color: #79589F;
}
h1 {
  font-weight: normal;
  font-size: 2rem;
  text-transform: uppercase;
  color: #666;
  margin: 0;
  margin-bottom: 37px;
  margin-top: 37px;
}

h1 a:visited, h1 a:hover, h1 a {
  color: #666;
  text-decoration: none;
}

a {
  color: black;
}
a:hover, a:visited {
  color: #79589F;
}
.cover {
  background-color: lightgray;
  background-size: cover !important;
  display: block;
  height: 368px;
}
.cover-title, .cover-title:visited {
  display: block;
  color: #666;
  margin-top: 16px;
}

.moment {
  margin-bottom: 37px;
}

.picture {
  margin-bottom: 20px;
}

.text img {
  max-width: 1024px;
}

.post {
  width: 700px;
  margin: 0 auto;
}

p {
  font-family: Garamond;
  line-height: 1.5;
}

footer {
  font-size: 12px;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: lightgray;
}
.container {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .picture img{
    width: 1024px;
  }
}
@media (max-width: 1000px) {
  footer {
    margin: -10px;
    padding: 20px;
    background-color: white;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .picture img{
    width: 100%;
  }
}

li {
  list-style-type: none;
  border-bottom: solid 1px #cecece;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

li a {
  text-decoration: none;
}

li .date {
  float: right;
  color: #cecece;
  font-size: 12px;
}

.post header {
  margin-bottom: 30px;
}

.post header h1 {
  margin-bottom: 10px;
}

.post .date {
  color: #cecece;
}
